---
interface Props {
  id: string
  title: string
  data: string
  link: string
  cta: string
  icon: string
}

const { id, title, data, link, cta, icon }: Props = Astro.props
---

<div class='contact__card'>
  <i id={id} class={`contact__card-icon ${icon}`}></i>
  <h4 class='contact__card-title'>{title}</h4>
  <span class='contact__card-data'>{data}</span>

  <a href={link} target='_blank' rel='noreferrer' class='contact__button'>
    {cta}
    <i class='bx bx-arrow-right-stroke contact__button-icon'></i>
  </a>
</div>
