---
import { Image } from 'astro:assets'
import Badge from './Badge.astro'
import type { Project } from '../types'
import { STATIC_CONTENT_URL } from '../constants'

interface Props extends Project {}

const { id, title, description, link, github, stack } = Astro.props

const img = `${STATIC_CONTENT_URL}/media/images/projects/${id}.webp`
---

<div
  class='group project__card flex h-full w-full flex-col gap-6 rounded-lg p-4! transition-all duration-200 ease-in-out hover:scale-102 hover:shadow-sm'
>
  <div class='flex flex-1 flex-col gap-3'>
    <div class='relative'>
      <Image
        src={img}
        alt={title}
        width={1920}
        height={1080}
        class='h-full w-full rounded-lg object-cover transition-opacity duration-200 ease-in-out group-hover:opacity-50'
      />
      <a
        href={github ?? link ?? 'https://jpxoi.com'}
        target='_blank'
        rel='noreferrer'
        class='absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-200 ease-in-out group-hover:opacity-100'
      >
        {github ? <i class='bxl bx-github text-xl' /> : <i class='bx bx-globe text-xl' />}
      </a>
    </div>
    <div class='flex flex-col gap-2'>
      <h3 class='text-foreground line-clamp-1 text-xl font-medium'>{title}</h3>
      <p class='text-foreground line-clamp-4 text-sm text-gray-400'>{description}</p>
    </div>
  </div>
  <div class='flex flex-wrap gap-2'>
    {stack.map((stackItem) => <Badge text={stackItem} />)}
  </div>
</div>
